@charset "utf-8";
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: Arial;

  }

              /*Шапка сайта*/

.container{
  width: 930px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-header {
  background-color: #ffcd34;
  overflow: hidden;
  padding: 15px;
}

.logo{
  float: left;
  width: 20%;
  color: black;
  text-decoration: none;
}
.logo span, .logo img{
  vertical-align: middle;
}

.main-nav a{
  text-decoration: none;
  color: black;
  padding-right: 35px;
}
 .main-nav{
  float: right;
  width: 80%;
  line-height: 40px;
  text-align: right;
  }
nav li{
    display: inline-block;
    }
nav .promo-btn{
  background-color: #ffe184;
  padding: 10px;
  }
  ul li:nth-child(1){font-weight: bold;
  }
.logo-btn{
  padding-left: 10px;
  }



              /*Главная страница*/
                /*Тело сайта*/
              /*Промо контейнер*/
  .line{
  height: 14px;
  }
.promo{
  text-align: center;
  background-image: url('../img/main/1390641675_ekskavator-gusenichnyy-hyundai-380.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 120px;
    }
  .promo-slogan{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 30px;
    color: white;
    }
  .promo-title{
    color: white;
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 15px;
    }
  .button{
    color: white;
    border: 2px solid #ffcd34;
    padding: 12px;
    display: inline-block;
    text-decoration: none;
    }

            /*Консультация контейнер*/

  .consult{
    background-color: #202e3b;
    padding-top: 1px;
    min-height: 120px;
    overflow: hidden;
    }

  .consult .container{
    float: center;
  }
  .consult .consult-btn{
    background-color: #ffcd34;
    padding: 12px;
    text-decoration: none;
    color: #000;

  }

  .consult-title{

    color: #ffcd34;
    padding-top: 20px;
    padding-left: 25px;
    font-size: 24px;
    }
  .consultform{
    text-align: left;
    padding: 35px;
    }
  input{
    border: 2px solid #ffcd34;
    padding: 10px 10px 10px 10px;
    background-color: #202e3b;
    margin-right: 12px;
    }

              /*Функции контейнер*/
.features {
  min-height: 120px;
  overflow: hidden;

}

  .features-item{
    width: 25%;
    float: left;
    min-height: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    padding-left: 50px;
    }

.feautures-item:first-child{margin-left: 0;}
.feautures-item:last-child{margin-right: 0;}


.features-item img{
  position: absolute;
  left: 1px;
  top: 55px;
}
.features-text{
  /*padding-top: 25px;*/
  text-align: left;
  font-size: 13px;
}

          /*Каталог техники контейнер*/

  .technic{
    background-color: #f3f3f3;
    overflow: hidden;
    padding: 25px;
    min-height: 120px;

    }

  .technic .subtitle{
    padding-bottom: 15px;
    padding-left: 10px;
    margin-bottom: 35px;
  }

.technic li{
  padding: 10px;
}

  .technic-menu{
    float: left;
    width: 25%;
    margin-right: 25px;

    }

  .technic-menu h2{
    float: left;
  }

  .technic-menu a{
    color: black;
  }

  .deals{
    float: right;
    width: 70%;
    }

.table-grey{
    background-color: lightgrey;
  }
  .table-white{
    background-color: white;
}

  .deals-table th{
    padding: 15px 15px 15px 10px;

  }
  .deals-table td{
    padding-left: 10px;
  }
  .deals-table{
    border-spacing: 7px 11px;
    border-collapse: collapse;
    width: 700px;
    height: 180px;
    text-align: left;
    margin-top: 35px;

  }


            /*О компании контейнер*/

  .about{
    background-color: #202e3b;
    color: white;
    overflow: hidden;
    min-height: 120px;

    }
  .about .about-number{
    float: left;
    width: 33%;

    }

  .about .about-reviews{
    float: right;
    width: 67%;

    }

  .about-reviews-item{
    /*padding-top: 15px;*/
    margin-bottom: 40px;
    margin-left: 0;
    display: inline-block;

  }

  .about-reviews-item img{
    float: left;
    margin-right: 20px;
  }
  .about-reviews-item blockquote{
    text-align: left;
    margin-bottom: 20px;
  }
  .about-reviews-item cite{
    text-align: left;
    color: #ffcd34;

      }
  .about .subtitle{
    padding: 45px 0px;
    font-size: 26px;
  }

  .about li{
    padding: 5px 0px;
  }

  .about .about-digit{
    font-size: 38px;
    color: #ffcd34;
  }
  .about .about-word{
    font-size: 18px;
    font-weight: bold;
    color: #9e9e9e;
  }

  .subtitle span{
    font-weight: normal;
  }


              /*Карта контейнер*/


  .map{height: 500px;}




              /*Каталог страница*/
                /*Баннер блок*/

  .promoconsult{

  background-image: url('../img/catalog/banner.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;

  min-height: 120px;
    overflow: hidden;
  }

  .promo-left{
    float: left;
    width: 60%;
  }
  .promo-consult-slogan{
    font-size: 23px;
    color: #ffcd34;
    padding-top: 50px;
  }
  .promo-consult-title{
    font-size: 16px;
    color: white;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 50px;

  }

  .promo-right{
    float: right;
    width: 40%;
    padding-top: 60px;
    text-align: left;
    padding-left: 30px;
  }
  .promoconsult a{
    text-decoration: none;


  }

  .consult-button{
    background-color: #ffcd34;
    padding: 10px;
    margin-left: 20px;

  }

  .promo-right p{
    padding: 20px;
    color: white;
  }
                /*Техника блок*/

  .technic{
    overflow: hidden;
    background-color: #f3f3f3;
    min-height: 120px;
    vertical-align: middle;
      }
  .technic menu{
    float: left;

  }


  .technic-subtitle-img,
  .subtitle{
    vertical-align: middle;
  }

  .technic-subtitle-img{
    float: left;

  }
  .technic .downbtn{
    background-color: #354b60;
    padding: 9px 13px 9px 13px;
    margin-left: 5px;


    color: white;
    text-decoration: none;

  }
  .pdf-download{
    padding-top: 15px;
    margin-left: 0;
    padding-left: 0;


  }

  .catalog{
    text-align: center;

  }
  .catalog-item{
    display: inline-block;
    background-color: white;
    padding: 10px;
    padding-bottom: 35px;
    margin: 9px;
    border: 1px solid white;
    width: 220px;
    overflow: hidden;
    position: relative;

  }
  .catalog-item:before{
    position: absolute;
    content: 'new';
    background-color: #00c22e;
  }
  .catalog-pages{
    vertical-align: bottom;
    text-align: center;
    padding: 10px;
  }

  .catalog-item-name{
    font-size: 15px;
    text-align: left;
  }

  .catalog-item-photo{
    float: none;
    padding-top: 10px;
  }

  .catalog-item-price{
    float: left;
    font-size: 20px;
    font-weight: bold;
  }

  .catalog-item span{

    font-weight: bold;
  }


  .catalog-btn{
    display: inline-block;
    padding-top: 10px;
    font-size: 0px;
    text-align: center;
  }

  .catalog-item .rentbtm{
    background-color: #ffcd34;
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 16px;

  }

  .catalog-item .moreinfo{
    background-color: grey;
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 16px;

  }

  .specoffer{
    background-image: url(../img/catalog/732_best.png);
    text-align: center;
    padding: 20px;
  }

  .specoffer .del{
    text-decoration: line-through;
    color: red;
    float: left;
  }

  .dwnbtm{
    margin-right: 3px;

  }


             /*Портфолио страница*/

  .portfolio{
    overflow: hidden;
    background-image: url(../img/portfolio/portfoliobanner.png);
    min-height: 105px;

  }
  .portfolio h1{
    float: left;
    padding: 35px 15px;
    color: #ffcd34;
    font-size: 24px;
  }
  .portfolio ul{
    float: right;
  }
  .portfolio li{
    display: inline-block;
    padding: 45px 10px;
  }
  .portfolio a{
    color: white;
  }
  .blackline{
    background-color: black;
    padding: 10px;
  }
  .wood-house{
    background-image: url(../img/portfolio/firsthouse.png);
    background-size: 100% 100%;
    min-height: 500px;
    overflow: hidden;
  }
  .apartments{
    background-image: url(../img/portfolio/secondhouse.png);
    background-size: 100% 100%;
    min-height: 500px;
    overflow: hidden;
  }
  .white-house{
    background-image: url(../img/portfolio/thirdhouse.png);
    background-size: 100% 100%;
    min-height: 500px;
    overflow: hidden;
  }

  .morebtn{
    background-color: #ffcd34;
    padding: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
  }
  .wh{
    display: inline-block;
    background-color: white;
    padding: 30px;
    min-height: 246px;
    margin-top: 100px;
    margin-left: 160px;
  }
  .wh .subtitle{
    font-size: 20px;
    text-transform: none;
    font-weight: normal;
  }
  .wh p{
    font-size: 14px;
    padding-bottom: 25px;
  }
.app{
    display: inline-block;
    background-color: white;
    padding: 30px;
    min-height: 246px;
    margin-top: 100px;
    margin-left: 160px;
  }
  .app .subtitle{
    font-size: 20px;
    text-transform: none;
    font-weight: normal;
  }
  .app p{
    font-size: 14px;
    padding-bottom: 25px;
  }

  .weh{
    display: inline-block;
    background-color: white;
    padding: 30px;
    min-height: 246px;
    margin-top: 100px;
    margin-left: 160px;
  }
  .weh .subtitle{
    font-size: 20px;
    text-transform: none;
    font-weight: normal;
  }
  .weh p{
    font-size: 14px;
    padding-bottom: 25px;
  }



              /*Контакты страница*/


  .contacts{
    background-image: url(../img/contacts/excavator_back.png);
    background-size: 100% 100%;
    min-height: 105px;
    overflow: hidden;

  }

  .contact-left{
    float: left;
    width: 60%;
  }
  .contact-right{
    float: right;
    width: 40%;
  }
  .contacts .contact{
    font-size: 26px;
    color: #ffcd34;
    float: left;
    padding-top: 35px;
    padding-right: 15px;
  }

  .contacts .contacts-title{
    font-size: 16px;
    color: white;
    font-weight: normal;
    padding-top: 45px;

  }
  .contacts .button{
    color: black;
    background-color: #ffcd34;
    float: right;
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
  }

  .contacts-map{
    overflow: hidden;
    background-color: #f3f3f3;

  }

  .contacts-map .mapleft{
    float: left;
    width: 60%;
    min-height: 392px;
    padding: 40px 40px 0 40px;
  }
  .contacts-map .form-right{
    float: right;
    width: 40%;
    overflow: hidden;
  }

  .telnum{
    margin-top: 40px;
  }

  .email{
    margin-top: 30px;
  }

  .telnum span{
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
  }

  .email span{
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
  }

  .contacts-map .consult-title{
    color: black;
    font-size: 18px;
    font-weight: normal;
    padding-left: 0px;
  }

  .contacts-btn{
    color: white;
    padding: 10px;
    background-color: #354b60;
    text-decoration: none;


  }
  .contactsform input{
    border: 2px solid #d5d5d5;
    background-color: white;
    margin-top: 10px;
    width: 300px;
  }
  .contactsform input:last-child{
    padding-bottom: 70px;
  }


                /*Подвал сайта*/


  footer{
    background-color: #202e3b;
    overflow: hidden;

    }
  footer .main-nav{
    float: right;
        }
  footer .white-word{
    color: white;
    }
  footer .footer-btn{
    color: yellow;
    }
  footer .main-nav .footer-promo{
    color: yellow;
    }
  footer .main-nav a:hover{
background-color: #ffcd34;
color: white;
padding:15px;
  }
    footer .logo{
      color: #ffcd34;
      padding-top: 15px;
      }

ul{
  list-style: none;
}

  footer li{
    padding: 5px;
  }
footer .odbtn{
  color: #ffcd34;
}

footer .footer-nam-menu{
  color: white;
}
footer .catalog-footer-btn{
  color: #ffcd34;
}