@charset "utf-8";
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: Arial;

  }

              /*Шапка сайта*/

.container{
  width: 930px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-header {
  background-color: orange;
  overflow: hidden;
  padding: 15px;
}

.logo{
  float: left;
  width: 20%;
  color: black;
  text-decoration: none;
}
.logo span, .logo img{
  vertical-align: middle;
}

.main-nav a{
  text-decoration: none;
  color: black;
}
 .main-nav{
  float: right;
  width: 80%;
  line-height: 40px;
  text-align: right;
  padding-left: 10px;
  }
nav li{
    display: inline-block;
    }
nav .promo-btn{
  background-color: yellow;
  padding: 10px;
  }
  ul li:nth-child(1){font-weight: bold;
  }
.logo-btn{
  padding-left: 10px;
  }

              /*Главная страница*/
                /*Тело сайта*/
              /*Промо контейнер*/
.promo{
  text-align: center;
  background-image: url('../img/promoimg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 120px;
    }
  .promo-slogan{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 30px;
    color: white;
    }
  .promo-title{
    color: white;
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 15px;
    }
  .button{
    color: white;
    border: 2px solid orange;
    padding: 12px;
    display: inline-block;
    text-decoration: none;
    }

            /*Консультация контейнер*/

  .consult{
    background-color: #202e3b;
    padding-top: 1px;
    min-height: 120px;
    }

  .consult .consult-btn{
    background-color: yellow;
    padding: 5px;

  }

  .consult-title{

    color: yellow;
    padding-top: 20px;
    padding-left: 25px;
    }
  .consultform{
    text-align: center;
    padding: 20px;
    }
  input{
    border: 2px solid yellow;
    padding: 5px;
    }

              /*Функции контейнер*/
.features {
  min-height: 120px;
  overflow: hidden;
}

  .features-item{
    width: 20%;
    margin-left: 30px;
    float: left;
    min-height: 100px;
    }

.feautures-item:first-child{margin-left: 0;}
.feautures-item:last-child{margin-right: 0;}

.feautures-img{
  float: left;
  width: 30%;
}
.feautures-text{
  float: right;
  width: 60%;
  padding-top: 25px;
}

          /*Каталог техники контейнер*/

  .technic{
    background-color: whitesmoke;
    overflow: hidden;
    padding: 25px;
    min-height: 120px;
    }

  .technic .subtitle{
    padding-bottom: 15px;
  }

.technic li{
  padding: 5px;
}

  .technic-menu{
    float: left;
    }

  .technic-menu a{
    color: black;
  }

  .deals{
    float: right;
    }

.table-grey{
    background-color: lightgrey;
  }
  .table-white{
    background-color: white;
}

  .deals-table th{
    padding: 15px;
  }
  .deals-table{
    border-spacing: 7px 11px;
  }


            /*О компании контейнер*/

  .about{
    background-color: darkslategray;
    color: white;
    overflow: hidden;
    min-height: 120px;
    }
  .about .about-number{
    float: left;
    }

  .about .about-reviews{
    float: right;
    }
  .subtitle{
    padding: 15px 0px;
  }

  .about li{
    padding: 5px 0px;
  }

  .about li span{
    font-size: 20px;
    color: orange;
  }


              /*Карта контейнер*/


  .map{height: 500px;}




              /*Каталог страница*/
                /*Баннер блок*/

  .promoconsult{
    background-image: url(http://placehold.it/100x100);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  .promo-left{
    float: left;
    width: 60%;
  }
  .promo-consult-slogan{
    font-size: 23px;
    color: orange;
    padding-top: 25px;
  }
  .promo-consult-title{
    font-size: 16px;
    color: white;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .promo-right{
    float: right;
    width: 40%;
    padding-top: 60px;
    text-align: center;
  }
  .promoconsult a{
    text-decoration: none;

  }

  .consult-button{
    background-color: yellow;
    padding: 10px;
  }

  .promo-right p{
    padding: 20px;
    color: white;
  }
                /*Техника блок*/

  .technic{
    overflow: hidden;
      }
  .technic menu{
    float: left;

  }

  .technic-subtitle-img{
    float: left;
  }


  .catalog{
    text-align: center;

  }
  .catalog-item{
    display: inline-block;
    background-color: white;
    padding: 5px;
    margin: 10px;
    border: 1px solid white;
    width: 220px;
    overflow: hidden;

  }
  .catalog-pages{
    vertical-align: bottom;
    text-align: center;
    padding: 10px;
  }

  .catalog-item-name{
    font-size: 15px;
    text-align: left;
  }

  .catalog-item-photo{
    float: none;
    padding-top: 10px;
  }

  .catalog-item-price{
    float: left;
    font-size: 20px;
    font-weight: bold;
  }

  .catalog-item span{
    float: left;
    font-weight: bold;
  }

  .catalog-btn{
    display: inline-block;
    padding-top: 10px;
    font-size: 0px;
    text-align: center;
  }

  .catalog-item .rentbtm{
    background-color: orange;
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 16px;

  }

  .catalog-item .moreinfo{
    background-color: grey;
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 16px;

  }

                /*Подвал сайта*/


  footer{
    background-color: black;
    overflow: hidden;
    }
  footer .main-nav{
    float: right;
        }
  footer .main-nav a{
    color: white;
    }
  footer .footer-btn{
    color: yellow;
    }
  footer .main-nav .footer-promo{
    color: yellow;
    }
  footer .main-nav a:hover{
background-color: yellow;
  }
    footer .logo{
      color: orange;
      }
ul{
  list-style: none;
}

  footer li{
    padding: 5px;
  }


